body {
    background-color: #1900ff;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background: #2c2c2c;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #ff0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #20eb0e;
  }
  
  #taskList {
    list-style-type: none;
    padding: 0;
  }
  
  .taskItem {
    background-color: #3a3a3a;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .deleteBtn {
    background-color: #e74c3c;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .deleteBtn:hover {
    background-color: #c0392b;
  }
  
  #emptyMessage {
    margin-top: 20px;
    color: #888;
  }
  